.body{
    display: flex;
    justify-content: center;
    
}
.Question{
    width: 50rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border: 1px solid;
}

.Question input {
    height: 35px;
    margin-bottom: 2rem;
    outline: none;
}

.Ques{
    background-color: rgba(204, 227, 159, 0.571);
    color: rgb(91, 91, 91);
    border: none;
    border-radius: 5px;
}
.Question select {
    background-color: rgba(204, 227, 159, 0.571);
    color: rgb(91, 91, 91);
    height: 35px;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5px;
    outline: none;
}
.btn{
    background-color: rgb(91, 128, 15);
    color: white;
    width: 5rem;
    height: 1.8rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(2, 2, 86);
}
